.gallery {
  max-width: 80%;
  margin: auto;
  padding: 1rem;
}

.gallery > h1 {
  position: relative;
  color: var(--color-primary);
  text-align: center;
  padding: 1rem 0 2rem 0;
  margin: 0 11rem 2rem;
  border-bottom: 1px solid var(--color-primary);
}

.smallImgDiv img {
  height: 18rem;
  width: 14rem;
  padding: none;
}

.bigImgDiv img {
  height: 36rem;
  width: 28rem;
  padding: none;
  margin: auto;
}

.smallImgDiv,
.bigImgDiv {
  margin: auto;
  padding: none;
}

.row {
  text-align: center;
}

.group {
  max-width: 50rem;
  display: inline-block;
}

.gallery_images img {
  width: 25rem;
  height: auto;
}

.group_m img {
  max-width: calc(25rem / 2);
  height: auto;
}

.group_m {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .bigImgDiv {
    display: block;
    width: 100%;
  }
  .smallImgDiv {
    display: block;
    width: 100%;
    margin: auto;
  }
  .bigImgDiv img {
    width: 22rem;
    height: 30rem;
  }
  .smallImgDiv img {
    height: 15rem;
    width: 11rem;
  }
}

@media screen and (max-width: 768px) {
  .gallery > h1 {
    font-size: 1.75rem;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  .gallery {
    margin: auto;
  }

  .bigImgDiv {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .smallImgDiv {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .bigImgDiv img {
    width: 18rem;
    height: 26rem;
  }
  .smallImgDiv img {
    height: 13rem;
    width: 9rem;
  }
}
