.movies_list {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-top: 2px solid var(--color-primary);
}

.movies_list_inner > div > h1 {
  color: var(--color-primary);
  min-width: fit-content;
  padding: 1rem 0;
}

.movies_list_inner {
  width: 80%;
  margin: auto;
}

.movies_list_inner ul li {
  list-style-type: none;
  border-top: 1px solid var(--color-primary);
  padding: 0.75rem 0;
  display: flex;
  justify-content: flex-start;
}

.movies_list_inner ul li img {
  max-height: 10rem;
}

.movie_informations {
  display: inline-block;
  color: white;
  padding-left: 2.5rem;
  vertical-align: top;
  line-height: 1.5rem;
  width: 25rem;
}

.movie_informations h3 {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.movie_informations > div > div {
  font-size: 0.8rem;
  overflow: hidden;
}

.movie_label {
  max-width: 20rem;
}

.movie_label a {
  text-decoration: none;
  color: inherit;
}

.times {
  display: flex;
  margin: 2.5rem 1rem;
  padding: 0 2.5rem;
  width: 100%;
  justify-content: end;
}

.times > a {
  text-decoration: none;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  vertical-align: top;
  margin: 0 1rem;
  padding: 0.35rem;
}

.times > div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.showtime {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: space-between;
  line-height: 1.5rem;
}

.sorter {
  margin: auto 0;
}

.inlineReserveTicket {
  border-radius: 5px;
  background-color: var(--color-primary);
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
  font-size: 1rem;
}

.inlineReserveTicket a {
  text-decoration: none;
  color: var(--color-secondary);
}

.inlineReserveTicket > div {
  background-color: var(--color-primary);
}

@media screen and (max-width: 1080px) {
  .inlineReserveTicket {
    border-radius: 5px;
    background-color: var(--color-primary);
    padding: auto;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1rem;
  }

  .movie_informations h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .times > div {
    width: 3.5rem;
    height: 3.5rem;
  }

  .movie_label {
    width: 10rem;
  }

  .movie_informations {
    line-height: 1.5rem;
    width: 80%;
  }

  .showtime {
    font-size: 0.75rem;
  }
  .premiereText {
    font-size: 0.85rem;
  }
  .posterImg {
    height: 8.5rem;
  }
}

@media screen and (max-width: 768px) {
  .inlineReserveTicket {
    border-radius: 5px;
    background-color: var(--color-primary);
    padding: 0.25rem;
    font-size: 0.75rem;
  }

  .movie_informations {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .movie_label h2 {
    width: 3rem;
    font-size: 1rem;
    padding-right: none;
  }

  .movie_label p {
    font-size: 0.5rem;
    width: 4rem;
  }

  .movie_informations h3 {
    margin: 0;
  }

  .times {
    display: none;
  }

  .premiereText {
    font-size: 0.65rem;
    text-align: center;
    margin: auto;
    margin-left: none;
    padding: 0%;
  }

  .sorter {
    font-size: 0.75rem;
  }

  .posterImg {
    height: 7rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .movie_label h2 {
    width: 3rem;
    font-size: 1rem;
    padding-right: none;
  }

  .movie_label p {
    font-size: 0.5rem;
    width: 4rem;
  }

  .movies_list_inner h1 {
    font-size: large;
  }

  .movie_informations h3 {
    margin: 0;
  }

  .times {
    display: none;
  }

  .premiereText {
    font-size: 0.65rem;
    text-align: center;
    margin: auto;
    margin-left: none;
    padding: 0%;
  }

  .movie_informations,
  .premiereText {
    display: block;
    width: 6.5rem;
  }

  .sorter .sortByText {
    font-size: 0.75rem;
  }

  .posterImg {
    height: 6.5rem;
    display: block;
    margin-bottom: 1rem;
  }
}
